<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>106506731288-2tq871f48jeo5f62acmga9sraq0qvsqd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.106506731288-2tq871f48jeo5f62acmga9sraq0qvsqd</string>
	<key>API_KEY</key>
	<string>AIzaSyCBdmQ0AqHsVqTcfE0LsBh0Pyll6pP06As</string>
	<key>GCM_SENDER_ID</key>
	<string>106506731288</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>storee.fal</string>
	<key>PROJECT_ID</key>
	<string>bauphi-483bd</string>
	<key>STORAGE_BUCKET</key>
	<string>bauphi-483bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:106506731288:ios:dcfaad7ab0d40cc7e9286d</string>
</dict>
</plist>